.bloop
.bsp/
.cache-main
.classpath
.project
.ensime
.ensime_cache
.idea
.metals
.sbtserver
.settings
.target
.vscode/
.*.swp
.*.swo
*.class
*.iml
*.ipr
*.iws
*.log
/RUNNING_PID
/bin
/ensime-langserver.log
/nohup.out
/pc.stdout.log
/test
/test-2.12
build
build.txt
cache
logs
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml
out
project/metals.sbt
project/project
project/target
tags
target
tmp

